{% extends "base.html.twig" %}
{% block conteiner %}
    <div class="row">
        <div class="col">
            <div class="card border-light" >
                <div class="card-header h5 text-center">Cadastro de Serviços</div>
                <div class="card-body">
                    {% if mensagem != null %}
                        <div class="alert alert-success text-center" role="alert" id="mensagem" style="width: 100%;">
                            <button type="button" class="close" aria-label="Close" onclick="fechar();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ mensagem }}
                        </div>
                    {% endif %}
                    <form style="padding: 2% 10% 2% 10%;" action="{{path('SalvarAlteracaoServico')}}" method="post" id="formServico" onkeydown="EnterKeyFilter();">
                        <div class="row">
                            <div style="width: 60px; margin-left: 15px;">
                                <input type="hidden" name="id" value="{{ servico.id }}"/>
                                <input type="text" class="form-control" placeholder="Sigla" name="sigla" maxlength="1" minlength="1" onkeyup="maiuscula(this);" value="{{ servico.sigla }}" required>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nome" name="nome" maxlength="60" minlength="2" value="{{ servico.nomeServico }}" onkeyup="somenteLetras2(this);" required>
                            </div>
                        </div>
                        <div id="resultado" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                        <div id="resultado2" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                        <br/>
                        <div class="row">
                            <div class="col">
                                <label>Descrição:</label>
                                <textarea class="form-control" name="descricao">{{ servico.descricao }}</textarea>
                            </div>
                        </div><br/>
                        <div class="row">
                            <div class="col-1" style="margin-right: -35px;">
                                <label class="my-2 mr-2">Status:</label>
                            </div>
                            <div class="col-2">                                
                                <select class="custom-select my-1 mr-sm-1" name="status">
                                    <option selected value="{{ servico.status_2 }}">{{ servico.status_2 }}</option>
                                    {% if servico.status_2 != "Ativo" %}
                                        <option value="Ativo">Ativo</option>
                                    {% endif %}
                                    {% if servico.status_2 != "Inativo" %}
                                        <option value="Inativo">Inativo</option>
                                    {% endif %}
                                </select>
                            </div>                            
                        </div><br/>
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn btn-secondary" style="margin-right: 25px; width: 100px;" id="voltarServico">Voltar</button>
                                <button type="button" class="btn btn-primary" style="width: 100px;" onclick="salvarServico();">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form action="{{path('VisualizaFila')}}" method="post" id="enviaID">
        <input type="hidden" name="id" value="{{ idFila }}" />
    </form>
    <script>
        $(function () {
            $("input[name='nome']").blur(function () {

                var nome = $("input[name='nome']").val();

                if (nome !== "") {
                    if (nome !== nomeGlobal) {
                        $.post('../../verificaUsuario/07cec372873365e1192cfc1fe6b94e56.php', {nome: nome}, function (data) {
                            if (data !== "Não existe!") {
                                $('#resultado2').html(data);
                                $("input[name='nome']").focus().select();
                                $("input[name='nome']").removeClass("form-control");
                                $("input[name='nome']").addClass("form-control is-invalid");
                            } else {
                                $('#resultado2').html("");
                                $("input[name='nome']").removeClass("form-control is-invalid");
                                $("input[name='nome']").addClass("form-control is-valid");
                            }
                        });
                    } else {
                        $('#resultado2').html("");
                        $("input[name='nome']").removeClass("form-control is-valid");
                        $("input[name='nome']").removeClass("form-control is-invalid");
                        $("input[name='nome']").addClass("form-control");
                    }
                } else {
                    $('#resultado2').html("");
                    $("input[name='nome']").removeClass("form-control is-valid");
                    $("input[name='nome']").removeClass("form-control is-invalid");
                    $("input[name='nome']").addClass("form-control");
                }

            });
        });

        $(function () {
            $("input[name='sigla']").blur(function () {

                var sigla = $("input[name='sigla']").val();

                if (sigla !== "") {
                    if (sigla !== siglaGlobal) {
                        $.post('../../verificaUsuario/07cec372873365e1192cfc1fe6b94e56.php', {sigla: sigla}, function (data) {
                            if (data !== "Não existe!") {
                                $('#resultado').html(data);
                                $("input[name='sigla']").focus().select();
                                $("input[name='sigla']").removeClass("form-control");
                                $("input[name='sigla']").addClass("form-control is-invalid");
                            } else {
                                $('#resultado').html("");
                                $("input[name='sigla']").removeClass("form-control is-invalid");
                                $("input[name='sigla']").addClass("form-control is-valid");
                            }
                        });
                    } else {
                        $('#resultado').html("");
                        $("input[name='sigla']").removeClass("form-control is-valid");
                        $("input[name='sigla']").removeClass("form-control is-invalid");
                        $("input[name='sigla']").addClass("form-control");
                    }
                } else {
                    $('#resultado').html("");
                    $("input[name='sigla']").removeClass("form-control is-valid");
                    $("input[name='sigla']").removeClass("form-control is-invalid");
                    $("input[name='sigla']").addClass("form-control");
                }

            });
        });

    </script>
{% endblock %}