{% extends "base.html.twig" %}
{% block conteiner %}
    <div class="row">
        <div class="col">
            <div class="card border-light" >
                <div class="card-header h5 text-center">Alterar Usuário</div>
                <div class="card-body">
                        {% if mensagem != null %}
                            <div class="alert alert-success text-center" role="alert" id="mensagem" style="width: 100%;">
                                <button type="button" class="close" aria-label="Close" onclick="fechar();">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ mensagem }}
                            </div>
                        {% endif %}
                    <form style="padding: 1% 10% 2% 10%;" action="{{path('SalvarAlteracaoUsuario')}}" method="post" id="formUsuario" onkeydown="EnterKeyFilter();">
                        <button type="button" style="margin-bottom: 20px;" class="btn btn-primary" onclick="AlterarSenha();">Alterar Senha</button>
                        <div class="row">
                            <div class="col">
                                <input type="hidden" name="id" value="{{ usuario.id }}"/>
                                <input type="text" class="form-control" placeholder="Nome" name="nome" value="{{ usuario.nome }}" required>
                                <div id="resultadoNome" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Sobrenome" name="sobrenome" value="{{ usuario.sobrenome }}" required>
                                <div id="resultadoSobrenome" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                            </div>
                        </div><br/>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Login (Somente números)" name="login" value="{{ usuario.usuario }}" maxlength="10" onkeyup="somenteNumeros(this);" required>
                                <div id="resultado" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                            </div>
                        </div><br/>

                        <div class="row">
                            <div class="col-1" style="margin-right: -35px;">
                                <label class="my-2 mr-2">Status:</label>
                            </div>
                            <div class="col-2">                                
                                <select class="custom-select my-1 mr-sm-1" name="status">
                                    <option selected value="{{ usuario.status_2 }}">{{ usuario.status_2 }}</option>
                                    {% if usuario.status_2 != "Ativo" %}
                                        <option value="Ativo">Ativo</option>
                                    {% endif %}
                                    {% if usuario.status_2 != "Inativo" %}
                                        <option value="Inativo">Inativo</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-1" style="margin-right: -42px;">
                                <label class="my-2 mr-2">Perfil:</label>
                            </div>
                            <div class="col-2">                                
                                <select class="custom-select my-1 mr-sm-1" name="tipo" required>
                                    <option selected value="{{direito.id}}" >{{direito.nome}}</option>
                                    {% if direito.nome != "Administrador" %}
                                        <option value="1">Administrador</option>
                                    {% endif %}
                                    {% if direito.nome != "Atendente" %}
                                        <option value="2">Atendente</option>
                                    {% endif %}
                                    {% if direito.nome != "Triagem" %}
                                        <option value="3">Triagem</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div><br/>
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn btn-secondary" style="margin-right: 25px; width: 100px;" onclick="voltar('{{path('Usuarios')}}')">Voltar</button>
                                <button type="button" class="btn btn-primary" style="width: 100px;" onclick="alterarUsuario();">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {#  inicio modal alterar Senha  --------------------------#}

    <div class="modal fade" id="AlterarSenha" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="exampleModalCenterTitle">Alterar Senha</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{path('AlterarSenha')}}" method="post" id="formAlteraSenha">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <input type="hidden" name="id" value="{{ usuario.id }}"/>
                                <input type="password" class="form-control" placeholder="Senha" name="senha" id="senha" required>
                                <div id="senhas" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                            </div>
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Confirmar Senha" name="confirmar" id="confirmar" required>
                                <div id="resultadoConfirmar" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="CancelarAltSenha">Cancelar</button>
                        <button type="button" class="btn btn-success" onclick="alterarSenha();">Alterar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# Fim modal alterar senha ---------------------------------#}
{% endblock %}