{% extends "base.html.twig" %}
{% block conteiner %}
    <div class="row">
        <div class="col">
            <div class="card border-light" >
                <div class="card-header h5 text-center">Atendimento</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-secondary" role="alert" style="margin: -10px 0 0 0;">
                                <b class="h5">Fila de Atendimento: </b>{{fila.nome}}<b style="display: block; float: right;">Pessoas aguardando: <span id="npessoas">--</span></b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1" style="margin-right: 20px;">
                            <div class="text-center" style="width: 100px; height: 150px; background: #007bff; margin-top: 10px; border-radius: 5px;">
                                <div style="padding-top: 2px;">
                                    <p style="color: white; margin: 10px 0 0 0;">Guichê</p>
                                    <h1 style="font-size: 50pt; color: white; margin: 0;">{{ guiche }}</h1>
                                    <p style=""><a href="{{ path('SelecionarGuiche', {'id': fila.id })}}" style="color: white;"> <u>Alterar</u> </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bg-light" style="width: 100%; border: solid #999999 .5px; border-radius: 5px; margin-top: 10px; padding: 20px;" id="temSenha">
                                <span id="senhaAtendimento"></span>
                            </div>
                        </div>    
                    </div><br/>
                    <div class="row">
                        <div class="col-1" style="margin-right: 20px;"></div>
                        <div class="col">
                            <div class="row">
                                <div class="col-2">
                                    <button class="btn btn-light" style="width: 180px; height: 90px; border: solid #000 0.5px;" onclick="chamarSenha();" id="botao">
                                        <img src="{{asset('bundles/app/imagens/mega.png')}}" style="width: 50px; height: 40px; margin-bottom: 5px;"/><br/>
                                        <b style="color: black;">Chamar</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="{{path('ChamarSenha')}}" method="post" id="chamarSenha">
        <input type="hidden" name="idSenha" id="idSenha"/>
        <input type="hidden" name="sigla" id="sigla"/>
        <input type="hidden" name="numero" id="numero"/>
        <input type="hidden" name="guiche" value="{{guiche}}"/>
        <input type="hidden" name="idFila" value="{{idFila}}"/>
    </form>

{% endblock %}
{% block javascripts %}      
    <script>
        updateSenha(1);
    </script>
{% endblock %}