{% extends "base.html.twig" %}
{% block conteiner %}

    <div class="row">
        <div class="col">
            <div class="card border-light" >
                <div class="card-header h5 text-center">Atendimento</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-secondary" role="alert" style="margin: -10px 0 0 0;">
                                <b class="h5">Fila de Atendimento: </b>{{fila.nome}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1" style="margin-right: 20px;">
                            <div class="text-center" style="width: 100px; height: 150px; background: #007bff; margin-top: 10px; border-radius: 5px;">
                                <div style="padding-top: 2px;">
                                    <p style="color: white; margin: 10px 0 0 0;">Guichê</p>
                                    <h1 style="font-size: 50pt; color: white; margin: 0;">{{ guiche }}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bg-light" style="width: 100%; border: solid #999999 .5px; border-radius: 5px; margin-top: 10px; padding: 20px;">
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-2">
                                        <label><b class="h5">Senha:</b></label><br/>
                                        <label><b class="h5">Serviço:</b></label><br/>
                                        <label><b class="h5">Prioridade:</b></label><br/>
                                        <label><b class="h5">Identificação:</b></label>
                                        <label style="color: red; margin-bottom: -10px;"><b class="h5">Situação:</b></label>
                                    </div>
                                    <div class="col">
                                        <label style="margin-top: -10px;"><b class="h2">{{ senha.sigla }}{{ senha.numero }}</b></label><br/>
                                        <label>{{senha.nome}}</label><br/>
                                        <label>{{senha.preferencia}}</label><br/>
                                        <label>{{senha.identificacao}}</label><br/>
                                        <label style="color: red; margin-bottom: -10px;">{{senha.situacao}}</label>
                                    </div>
                                </div><br/>

                            </div>
                        </div>{#
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>#}    
                    </div><br/>
                    <div class="row">
                        <div class="col-1" style="margin-right: 20px;"></div>
                        <div class="col">
                            <div class="row">
                                <div class="col-2">
                                    <button class="btn btn-light" style="width: 180px; height: 90px; border: solid #000 0.5px;" onclick="chamarSenha();">
                                        <img src="{{asset('bundles/app/imagens/mega.png')}}" style="width: 50px; height: 40px; margin-bottom: 5px;"/><br/>
                                        <b style="color: black;">Chamar Novamente</b>
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-light" style="width: 180px; height: 90px; border: solid #000 0.5px;" onclick="iniciarAtendimento();">
                                        <img src="{{asset('bundles/app/imagens/chamar.png')}}" style="width: 40px; height: 40px; margin-bottom: 5px;"/><br/>
                                        <b style="color: black;">Iniciar Atendimento</b>
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-light" style="width: 180px; height: 90px; border: solid #000 0.5px;"">
                                        <img src="{{asset('bundles/app/imagens/usuarionao.png')}}" style="width: 40px; height: 40px; margin-bottom: 5px;"/><br/>
                                        <b style="color: black;">Não Compareceu</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="{{path('ChamarSenha')}}" method="post" id="chamarSenha">
        <input type="hidden" name="idSenha" value="{{senha.id}}"/>
        <input type="hidden" name="sigla" value="{{senha.sigla}}"/>
        <input type="hidden" name="numero" value="{{senha.numero}}"/>
        <input type="hidden" name="guiche" value="{{guiche}}"/>
        <input type="hidden" name="idFila" value="{{fila.id}}"/>
        <input type="hidden" name="novamente" value="1" />
    </form>

    <form action="{{path('EmAtendimento')}}" method="post" id="iniciarAtendimento">
        <input type="hidden" name="idSenha" value="{{senha.id}}"/>
        <input type="hidden" name="sigla" value="{{senha.sigla}}"/>
        <input type="hidden" name="numero" value="{{senha.numero}}"/>
        <input type="hidden" name="guiche" value="{{guiche}}"/>
        <input type="hidden" name="idFila" value="{{fila.id}}"/>
        <input type="hidden" name="nomeFila" value="{{fila.nome}}"/>
        <input type="hidden" name="identificacao" value="{{senha.identificacao}}"/>
        <input type="hidden" name="preferencia" value="{{senha.preferencia}}"/>
        <input type="hidden" name="servico" value="{{senha.nome}}"/>
    </form>
    <script>
        function chamarSenha() {
            $("#chamarSenha").submit();
        }
        
        function iniciarAtendimento() {
            $("#iniciarAtendimento").submit();
        }
    </script>

{% endblock %}