{% extends "base.html.twig" %}
{% block conteiner %}
    <style>
        li.teste{
            display:block; 
            list-style-type: none;  
            margin:0; 
            box-sizing: border-box;
            border-radius: 5px;
            padding: 5px;
            width: 49.5%;
            float:right;
            margin-bottom: 15px;
        }
        li:nth-child(odd).teste {          /* este css será aplicato nos LI impares (1, 3, 5... ).         */
            clear:both;                /* forçamos a quebra de linha por segurança...                  */
            float:left;                /* ... e o alinhamos à esquerda.                                */
            width:49.5%;                 /* Aplicamos 50% na esquerda, os da direita "herdam" o resto.   */
            margin-bottom: 15px;
        }
    </style>
    <div class="row">
        <div class="col">
            <div class="card border-light" >
                <div class="card-header h5 text-center">TRIAGEM</div>
                <div class="card-body">
                    {% if servicos == null%}
                        <div class="alert alert-danger text-center" role="alert">
                            Nenhum serviço cadastrado nessa fila!
                        </div>
                    {% else %}
                        <div class="row" style="background-color: #CED8F6;">
                            <div class="col-1">
                                <img src="{{asset('bundles/app/imagens/usuario.png')}}" style="width: 40px; height: 40px; margin-top: 5px;" />
                            </div>
                            <div class="col-2" style="margin: 12px -90px 0 -50px;">
                                <p class="h5" style="">Identificação</p>
                            </div>
                            <div class="col-4">
                                <form style="margin: 5px 0 5px 0;" id="gerarSenha" action="" method="post">
                                    <input type="text" name="identificacao" class="form-control" placeholder="Nome" onkeyup="somenteLetras2(this);"/>
                                    <div id="resultado" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                                    <input type="hidden" name="idPreferencia" />
                                    <input type="hidden" name="idServico" />
                                    <input type="hidden" name="sigla" />
                                </form>
                            </div>

                        </div><br/>
                        <div class="row">
                            <div class="col">
                                <ul style="position:relative; margin:0; padding:0; width:100%; height:100%;">
                                    {% for servico in servicos%}
                                        <li class="teste border">
                                            <table width="100%">
                                                <tr>
                                                    <td width="50%">
                                                        <div class="h6">{{ servico.sigla }} - {{ servico.nome }}</div>
                                                        <div class="row">
                                                            <div class="col-1" style="margin-left: 10px;">
                                                                <img src="{{asset('bundles/app/imagens/usuario.png')}}" style="width: 20px; height: 20px;" />
                                                            </div>
                                                            <div class="col">
                                                                <div class="border text-center" style="border-radius: 40px; width: 40px; color: white; background-color: #383d41;">
                                                                    -/-
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="50%" align="right">
                                                        <button class="btn btn-primary" style="margin: 5px;" onclick="gerarSenha('1', '{{ servico.id }}', '{{ servico.sigla }}');">Normal</button>
                                                        <button class="btn btn-danger" style="margin: 5px;" onclick="gerarSenha('2', '{{ servico.id }}', '{{ servico.sigla }}');">Preferencial</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li> 
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <button class="btn btn-secondary" id="selecionar"><b><</b> Selecionar Fila</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    modal gerar senha #}
    {% if senha != null %}
        <script>
            $(document).ready(function () {
                $('#ExempleModalCenter').modal('show');
            });
        </script>

        <div class="modal fade" id="ExempleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Senha de Atendimento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center" id="imprimeSenha">
                        <div align="center">
                            <h4 align="center" style="margin: 2px;">{{ empresa }}</h4>
                            <p align="center" style="margin: 2px;">  {{ fila.nome }}</p>
                            <h1 align="center" style="margin: 2px;">{{ senha }}</h1>
                            <p align="center" style="margin: 2px;"><b>Serviço: {{ servico.nome }}</b></p>
                            <p align="center" style="margin: 2px;">Data: {{ data.date|date('d/m/Y') }}</p>
                            <p align="center" style="margin: 2px;">Hora: {{ data.date|date('H:i:s') }}</p>
                            <p align="center" style="margin: 2px;"><b>Atendimento: {{ tipo }}</b></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="imprimir();" data-dismiss="modal">Imprimir</button>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
    {#      fim modal gerar senha#}

    {#    modal de aviso#}

    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle">Mensagem</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Gerar senha?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="sim">Sim</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>

    {#      fim modal de aviso#}
    <script>
        function gerarSenha(idPreferencia, idServico, sigla) {
            $(document).ready(function () {
                $('#ModalCenter').modal('show');
            });

            $("#sim").click(function () {
                $('#ModalCenter').modal('hide');
                var identificacao = $("input[name='identificacao']").val();
                $("input[name='idPreferencia']").val(idPreferencia);
                $("input[name='idServico']").val(idServico);
                $("input[name='sigla']").val(sigla);
                if (identificacao !== "") {
                    $('#gerarSenha').submit();
                } else {
                    $("#resultado").html("é preciso identificar-se!");
                    $("input[name='identificacao']").focus();
                }

            });
        }
        $("#selecionar").click(function () {
            window.location.href = "{{path('TriagemFila')}}";
        });

        $('#ExempleModalCenter').on('hide.bs.modal', function () {
            window.location.href = "";
        });
    </script>
{% endblock %}