{% extends "base.html.twig" %}
{% block conteiner %}
    <div class="row">
        <div class="col">
            <div class="card border-light" >
                <div class="card-header h5 text-center">Alterar Fila</div>
                <div class="card-body">
                    {% if mensagem != null %}
                        <div class="alert alert-success text-center" role="alert" id="mensagem" style="width: 100%;">
                            <button type="button" class="close" aria-label="Close" onclick="fechar();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ mensagem }}
                        </div>
                    {% endif %}
                    <form style="padding: 2% 10% 2% 10%;" action="{{path('SalvarAlteracaoFila')}}" method="post" id="formFila" onkeydown="EnterKeyFilter();">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nome" name="nome" maxlength="60" minlength="2" onkeyup="somenteLetras2(this);" value="{{ fila.nome }}" required>
                                <div id="resultado" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                                <input type="hidden" name="id" value="{{ fila.id }}"/>
                            </div>
                        </div><br/>
                        <div class="row">
                            <div class="col-1" style="margin-right: -35px;">
                                <label class="my-2 mr-2">Status:</label>
                            </div>
                            <div class="col-2">                                
                                <select class="custom-select my-1 mr-sm-1" name="status">
                                    <option selected value="{{ fila.status_2 }}">{{ fila.status_2 }}</option>
                                    {% if fila.status_2 != "Ativo" %}
                                        <option value="Ativo">Ativo</option>
                                    {% endif %}
                                    {% if fila.status_2 != "Inativo" %}
                                        <option value="Inativo">Inativo</option>
                                    {% endif %}
                                </select>
                            </div>                            
                        </div><br/>
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn btn-secondary" style="margin-right: 25px; width: 100px;" onclick="voltar('{{path('Filas')}}');">Voltar</button>
                                <button type="button" class="btn btn-primary" style="width: 100px;" onclick="salvarFila();">Alterar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("input[name='nome']").blur(function () {

                var nome = $("input[name='nome']").val();

                if (nome !== "") {
                    if (nome !== nomeGlobal) {
                        $.post('../../verificaUsuario/6ea13bffb6e18ece1265286ee9203fa0.php', {nome: nome}, function (data) {
                            if (data !== "Não existe!") {
                                $('#resultado').html(data);
                                $("input[name='nome']").focus().select();
                                $("input[name='nome']").removeClass("form-control");
                                $("input[name='nome']").addClass("form-control is-invalid");
                            } else {
                                $('#resultado').html("");
                                $("input[name='nome']").removeClass("form-control is-invalid");
                                $("input[name='nome']").addClass("form-control is-valid");
                            }
                        });
                    } else {
                        $('#resultado').html("");
                        $("input[name='nome']").removeClass("form-control is-valid");
                        $("input[name='nome']").removeClass("form-control is-invalid");
                        $("input[name='nome']").addClass("form-control");
                    }
                } else {
                    $('#resultado').html("");
                    $("input[name='nome']").removeClass("form-control is-valid");
                    $("input[name='nome']").removeClass("form-control is-invalid");
                    $("input[name='nome']").addClass("form-control");
                }

            });
        });
    </script>
{% endblock %}