{% extends "base.html.twig" %}
{% block conteiner %}
    <div class="row">
        <div class="col">
            <div class="card border-light" >
                <div class="card-header h5 text-center">Filas de Atendimento</div>
                <div class="card-body">
                    <div class="row" style="margin-bottom: 5px; margin-top: -15px;">
                        <div class="container-fluid text-center">
                            <table width="100%">
                                <tr>
                                    <td width="20%" align="left">
                                        <button type="button" class="btn btn-primary" onclick="novo('{{path('CadastroFila')}}');" style="width: 100px;"><b>+</b> Nova</button>
                                    </td>
                                    <td align="right" width="80%">
                                        <form action="{{path('BuscarFila')}}" class="form-inline" style="width: 281px;" method="post">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Pesquisar (nome)" style="margin-right: 20px;" name="busca">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-secondary">Buscar</button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="margin-top: 10px; margin-bottom: 10px;">
                        {% if mensagem != null %}
                            <div class="alert alert-success text-center" role="alert" id="mensagem" style="width: 100%;">
                                <button type="button" class="close" aria-label="Close" onclick="fechar();">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ mensagem }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" width="10px"></th>
                                    <th scope="col" width="10px"></th>
                                    <th scope="col" width="10px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if filas == null %}                                       
                                    <tr align="center">
                                        <td colspan="6">
                                            <div>Nenhum registro encontrado!</div>
                                        </td>
                                    </tr>
                                {% else %}
                                    {% for fila in filas %}
                                        <tr>
                                            <th scope="row" style="vertical-align: middle;">{{ fila.id }}</th>
                                            <td style="vertical-align: middle;">{{ fila.nome }}</td>
                                            <td style="vertical-align: middle;">{{ fila.status_2 }}</td>
                                            <td style="vertical-align: middle; width: 150px;">
                                                <form action="{{path('VisualizaFila')}}" method="post">
                                                    <input type="hidden" name="id" value="{{ fila.id }}"/>
                                                    <button type="submit" class="btn btn-outline-primary">Serviços</button>
                                                </form>
                                            </td>
                                            <td style="vertical-align: middle; width: 20px;">
                                                <form action="{{path('AlterarFila')}}" method="post">
                                                    <input type="hidden" name="id" value="{{ fila.id }}"/>
                                                    <button type="submit" style="border: none; background: none;">
                                                        <img src="{{asset('bundles/app/imagens/alterar.png')}}" style="width: 20px; height: 20px;"/>
                                                    </button>
                                                </form>
                                            </td>
                                            <td style="vertical-align: middle; width: 20px;">
                                                <button type="button" onclick="confirmar({{ fila.id }});" style="border: none; background: none;">
                                                    <img src="{{asset('bundles/app/imagens/excluir.png')}}" style="width: 20px; height: 20px;"/>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#                            Inicio Modal Excluir#}

    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="exampleModalCenterTitle">Mensagem</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir?</p>
                </div>
                <div class="modal-footer">
                    <form id="enviaDelete" action="{{path('DeletarFila')}}" method="post">
                        <input type="hidden" name="id" />
                    </form>
                    <button type="button" id="sim" class="btn btn-success">Sim</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>
    {#                            Fim Modal Excluir#}
{% endblock %}